<div @fadeInUp class="card shadow-8 text-center w-full max-w-sm overflow-hidden">
    <div class="p-6" fxLayout="column" fxLayoutAlign="start center">
        <img class="w-16" src="assets/img/demo/logo.png">
    </div>

    <h1 class="display-1 font-medium m-0">Order:</h1>
    <h3 class="title mt-3 mb-0">Our order details.</h3>

    <div class="my-6" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
    </div>

        <p>{{list.userId}}</p>

        <p>{{list.id}} </p>
        <p>{{list.title}} </p>
        <p>{{list.completed}} </p>


    <div class="bg-app-bar p-6" fxLayout="column">
    </div>
</div>
